In [1]:
import pandas as pd

In [5]:
df_5_million_trees = pd.read_csv('relevant/5_million_trees_NYC.csv')

In [6]:
df_trees = df_5_million_trees.dropna(subset=['zipcode'])
df_trees = df_trees.loc[(df_5_million_trees['zipcode'] != 'None')]
df_trees['zipcode'] = pd.to_numeric(df_trees['zipcode'])
df_trees['diameter_breast_height_CM'] = pd.to_numeric(df_trees['diameter_breast_height_CM'])
df_trees = df_trees.loc[(df_trees['zipcode'] >= 10001) & (df_trees['zipcode'] <= 11697)]
df_trees = df_trees[['common_name', 'scientific_name', 'zipcode',
                   'diameter_breast_height_CM', 'condition', 'native',
                   'diameter_breast_height_binned_CM', 'city_ID',
                   'most_recent_observation']]

/Users/cynthiachen/anaconda2/envs/py36/lib/python3.6/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [11]:
df_trees['zipcode']

0         11375.0
1         11357.0
2         11211.0
3         11211.0
4         11215.0
5         10023.0
6         10023.0
7         10019.0
8         10305.0
9         11223.0
10        11105.0
11        11105.0
12        10308.0
13        11205.0
14        11212.0
15        11205.0
16        11214.0
17        11226.0
18        11373.0
19        11205.0
20        11215.0
21        10021.0
22        10024.0
23        10306.0
24        11217.0
25        11214.0
26        11415.0
27        11230.0
28        10002.0
29        11385.0
           ...
682823    11385.0
682824    11375.0
682825    11237.0
682826    11219.0
682827    11222.0
682828    11373.0
682829    10280.0
682830    11209.0
682831    11354.0
682832    11214.0
682833    10024.0
682834    10314.0
682835    10457.0
682836    11235.0
682837    11205.0
682838    10010.0
682839    11375.0
682840    10014.0
682841    11210.0
682842    11213.0
682843    11230.0
682844    11229.0
682845    11377.0
682846    11226.0
682847    10457.0
682848    11211.0
682849    11375.0
682850    10314.0
682851    10457.0
682852    11365.0
Name: zipcode, Length: 682853, dtype: float64

In [9]:
# df_trees.to_csv('5_million_trees_NYC.csv')

In [8]:
df_trees.dtypes

common_name                          object
scientific_name                      object
zipcode                             float64
diameter_breast_height_CM           float64
condition                            object
native                               object
diameter_breast_height_binned_CM     object
city_ID                              object
most_recent_observation              object
dtype: object