In [1]:
import pandas as pd

In [5]:
df_cities_zips = pd.read_csv('relevant/us_cities_zips.csv')

df_hosprate = pd.read_csv('relevant/covid/hosprate-by-modzcta.csv')
df_deathrate = pd.read_csv('relevant/covid/deathrate-by-modzcta.csv')
df_percentpositive = pd.read_csv('relevant/covid/percentpositive-by-modzcta.csv')

In [8]:
df_percentcover = pd.read_table('relevant/percent_cover_zipcode.txt', delimiter = ',')

In [10]:
df_percentcover.columns = ['zip', 'pc_cover']

In [23]:
# nyc zip codes: 10001 to 11697
df_zip_nyc = df_cities_zips.loc[(df_cities_zips['zip_code'] >= 10001) & (df_cities_zips['zip_code'] <= 11697)]

In [24]:
df_zip_nyc

,zip_code,latitude_centroid,longitude_centroid,city,state_abbr,state_name,zcta,parent_zcta,population,density,county_fips,county_name,timezone
2583,10001,40.75064,-73.99728,New York,NY,New York,True,NaN,25026.0,15489.3,36061,New York,America/New_York
2584,10002,40.71597,-73.98692,New York,NY,New York,True,NaN,74363.0,34916.7,36061,New York,America/New_York
2585,10003,40.73184,-73.98915,New York,NY,New York,True,NaN,54671.0,36928.8,36061,New York,America/New_York
2586,10004,40.69431,-74.01835,New York,NY,New York,True,NaN,3310.0,2805.2,36061,New York,America/New_York
2587,10005,40.70614,-74.00862,New York,NY,New York,True,NaN,8664.0,45907.6,36061,New York,America/New_York
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2982,11691,40.60152,-73.76173,Far Rockaway,NY,New York,True,NaN,68454.0,9849.6,36081,Queens,America/New_York
2983,11692,40.59373,-73.79201,Arverne,NY,New York,True,NaN,22394.0,8511.5,36081,Queens,America/New_York
2984,11693,40.59649,-73.81663,Far Rockaway,NY,New York,True,NaN,13029.0,5088.1,36081,Queens,America/New_York
2985,11694,40.57532,-73.85099,Rockaway Park,NY,New York,True,NaN,21258.0,4697.4,36081,Queens,America/New_York
2986,11697,40.55749,-73.91361,Breezy Point,NY,New York,True,NaN,3527.0,665.1,36081,Queens,America/New_York

In [11]:
df_percentcover

         zip  pc_cover
0      43451     0.743
1      43452    14.260
2      43456    25.476
3      43457     0.146
4      43458     0.000
...      ...       ...
32652  84044    35.338
32653  84045     4.667
32654  84046    45.567
32655  84047     2.016
32656  84049    62.018

[32657 rows x 2 columns]